/Contact.class
/Contacts.class
/Diary.class
/Event.class
/Main.class
/Media.class
/MediaPlayer.class
/Meet.class
/Message.class
/Music.class
/Phone.class
/Single.class
/Sms.class
/Video.class
/TestPhone.class
